

h1{
    text-align: center;
}

table{

    margin: auto;
}

td{
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 65px;
}

td:hover{
    background-color: grey;
    border: 6px solid blue;
}

.vertical{
    border-left: 1px solid #051fba;
    border-right: 1px solid #9f00b9;
}

.horizontal{
    border-top: 1px solid #b70300;
    border-bottom: 1px solid #b77000;
}

